body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  display: inline;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color:#282A36;
  color: #6272a4;
}

