body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 35px;
}

p {
  display: inline;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-size: 30px;
}

